:root {
    --cor-de-fundo: #FFFFFF;
    --vermelho-secundario: #8e2424;
    --cinza-principal: #667085;
    --branco-fonte: #FFFFFF;
    --preto-titulo: #000000;
    --preto-subtitulo: #101828;
    --font-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
}

.navbar {
    height: 80px;
    width: 100%;
    grid-template-columns: 25% 50% 25%;
}

.container__logo {
    display: flex;
    justify-content: center;
    width: 148px;
    height: 27px;
    margin-top: 35px;
    padding-left: 100px;

}

.container__nav{
    text-align: start;
}

.nav__lista {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-top: 40px;
}

.lista__nav a {
    text-decoration: none;
    color: var(--cinza-principal);
    margin-left: 2em;
}

.container__login {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.container__entrar {
    text-decoration: none;
    color: var(--cinza-principal);
    margin-right: 2em;
    margin-top: 40px;
}

.container__cadastrar {
    text-decoration: none;
    background-color: var(--vermelho-secundario);
    color: var(--branco-fonte);
    border-radius: 5px;
    padding: 10px 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.cabecalho {
    display: inline;
    justify-content: center;
    width: 620px;
}

.container__titulo {
    color: var(--vermelho-secundario);
    text-align: center;
    margin-top: 96px;
}

.cabecalho__titulo {
    color: var(--preto-titulo);
    text-align: center;
    margin-top: 24px;
}

.cabecalho__descricao{
    color: var(--cinza-principal);
    text-align: center;
    padding-inline: 29%;
    margin-top: 24px;
    font-size: 20px;
}

.metricas__container {
    display: flex;
    justify-content: flex-start;
    grid-template-columns: 25% 25% 25% 25%;
}

.metrica {
    /* padding: 10px; */
    margin: 96px 60px 96px 80px ;
}

.metrica__titulo {
   color: var(--vermelho-secundario);
   font-weight: 700; 
   font-size: 60px;
   margin-bottom: 12px;
}

.metrica__subtitulo {
    color: var(--preto-subtitulo);
    font-size: 18px;
    margin-bottom: 10px;
}

.metrica__descricao {
    color: var(--cinza-principal);
    font-size: 16px;
}

.talentos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 25% 25% 50%;
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 64px;
}

.talentos__titulo {
    color: var(--vermelho-secundario);
    background-color: rgb(142,36,36,0.05);
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
    width: 100px;
    margin: 10px;  
    height: 18px;   
    font-weight: 400; 
    font-size: 13px;
    margin-bottom: 16px;
}

.talentos__subtitulo {
    color: var(--preto-subtitulo);
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.talentos__descricao {
    color: var(--cinza-principal);
    font-weight: 400;
    font-size: 20px;
}

.talentos__imagem {
    margin-bottom: 64px;
}

.vagas__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline-start: 25%;
    margin-bottom: 96px;
}

.vagas__titulo {
    color: var(--preto-subtitulo);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;  
    margin-top: 64px; 
}

.vaga {
    background-color: var(--branco-fonte);
    margin-bottom: 24px;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    width: 758px;
    padding-bottom: 10px;
    padding: 30px;
}

.titulo-vaga {
    color: var(--preto-titulo);
    font-size: 18px;
    padding-inline-start: 2%;
}

.informacoes {
    color: var(--cinza-principal);
    font-size: 16px;
    padding-inline-start: 2%;
    margin-top: 5%;
}

span{
    padding-right: 20px;
}

.depoimentos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos {
    background-color: rgb(195,25,25,0.03);
    width: 1216px;
    height: 404px;
    border-radius: 10px;
}

.depoimento__titulo {
    color: var(--vermelho-secundario);
    text-align: center;
    margin-top: 64px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.depoimento__subtitulo {
    color: var(--preto-subtitulo);
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 32px;
}

.informacoes__cliente {
    text-align: center;
}

.cliente__nome {
    color: var(--preto-subtitulo);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 10px;
}

.cliente__emprego {
    color: var(--cinza-principal);
    font-size: 14px;
}

.formulario__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;
    margin-top: 96px;
    width: 100%;
    height: 430px;
}

.formulario__titulo {
    color: var(--preto-subtitulo);
    font-size: 36px;
    font-weight: 700;
    margin-top: 96px;
    margin-bottom: 20px;
}

.formulario__descricao {
    color: var(--cinza-principal);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.formulario{
    margin-bottom: 32px;
}

.formulario__input{
    background-color: var(--branco-fonte);
    width: 360px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #d0d5dd;
    margin-right: 10px;
}

#email{
    color: var(--cinza-principal);
    font-size: 16px;
    padding-left: 20px;
    font-weight: 400;
}

.container__cadastrar2{
    text-decoration: none;
    background-color: var(--vermelho-secundario);
    color: var(--branco-fonte);
    border-radius: 5px;
    padding: 14px 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;  
}

.formulario__copy {
    color: #98a2b3;
    font-size: 16px;
    font-weight: 400;
}